body {
  background: linear-gradient(to top right, rgb(25, 66, 102), rgb(0, 255, 255));
  background-size: cover;
  background-attachment: fixed;
}
.container {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: rgb(16, 48, 82);
  color: white;
  scroll-behavior: auto;
  height: 30rem;
  width: 70vw;
  display: block;
  margin: auto;
  margin-top: 3rem;
  padding: 1%;
  overflow-y: scroll;
}
#addJoke {
  width: 72vw;
  font-size: medium;
  outline: none;
  border: none;
  text-align: center;
  margin: auto;
  display: block;
  padding: 0.6%;
}
.list {
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  list-style: none;
}
.titleContainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.title {
  font-family: "Montserrat", sans-serif;
  padding-top: 2rem;
  margin: auto;
  display: block;
  text-align: center;
}
#logo {
  height: 3rem;
  width: 3.7rem;
  margin: auto;
  display: block;
  margin-top: 2rem;
  margin-right: -40rem;
}
