body {
  background-image: url("https://ak.picdn.net/shutterstock/videos/1028136896/thumb/1.jpg");
  background-size: cover;
  background-attachment: fixed;
}
#nav {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.imageContainer {
  width: 100vw;
  height: 70vh;
  background-image: url("https://ak.picdn.net/shutterstock/videos/1028136896/thumb/1.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.mainContainer {
  opacity: 0.7;
  background-color: white;
}
#languageSelection,
#category {
  width: 20vw;
}
.haridwarNewsContainer,
.indianNewsContainer {
  background-color: rgb(235, 233, 233);
}
