a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 1rem;
}
li {
  width: 103.7%;
  margin-left: -2.5rem;
  line-height: 2rem;
}
li:hover {
  background: rgb(63, 63, 63);
  transition: ease 0.3s;
}
ul {
  background: rgb(126, 126, 126);
  list-style: none;
  margin-top: -0.1rem;
  width: 85%;
  margin-left: 4rem;
  text-align: center;
}
#mainInput {
  height: 1.4rem;
  width: 87.55%;
  margin-left: 4rem;
  margin-top: 2rem;
}
h3 {
  display: none;
}
